.movies-data {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 48%;
}
.movies-data img {
  width: 80px;
}
.low-pd {
  padding: 0.25rem 0.5rem !important;
  color: white !important;
}
.flex-title {
  width: 100%;
}
.movies-data .flex-title p {
  font-weight: bold;
  /* margin: 0; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.flexmr {
  display: flex;
  align-items: self-end;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.btn-success .spinner-border {
  width: 1.3rem !important;
  height: 1.3rem !important;
}
/* .upload-img input {
  border: none;
  display: none;
} */
.logo-to-show {
  width: 250px;
}
.upload-img {
  text-align: center;
  width: 100% !important;
}
/* .upload-img label {
  width: max-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  margin-inline: auto;
  padding: 10px;
} */
.spinner-border {
  width: 1.4rem !important;
  height: 1.4rem !important;
}
.fix-btn {
  min-width: 80px !important;
}
.songs-list {
  margin-top: 30px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.songs-list li {
  display: flex;

  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.songs-list li h3 {
  font-size: 18px;
}
.less-b {
  font-weight: normal;
}
@media (max-width: 1340px) {
  .movies-data {
    width: 48%;
  }
}
@media (max-width: 1160px) {
  .movies-data {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .flexmr {
    flex-direction: column;
    align-items: start;
  }
  .flexmr .low-pd {
    margin-left: 0 !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* The switchBtn - the box around the slider */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  margin-top: 0;
}

/* Hide default HTML checkbox */
.switchBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switchBtn input:disabled + .slider {
  opacity: 0.5;
  cursor: default;
}

/* The slider */
.switchBtn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switchBtn .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switchBtn input:checked + .slider {
  background-color: #2196f3;
}
.switchBtn input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.switchBtn input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchBtn .slider.round {
  border-radius: 40px;
}
.switchBtn .slider.round:before {
  border-radius: 50%;
}
